# Description:   BBP-WORKFLOW config to launch "analysis" (just the creation of a MultiIndex DataFrame)
# Author:        A. Ecker
# Date:          07/10/2021
# Last modified: 07/10/2021

[DEFAULT]
# Knowledge Graph project where data persists
# Staging instance (sandbox project)
kg-base: https://staging.nexus.ocp.bbp.epfl.ch/v1
kg-org: bbp_test
kg-proj: christoph
# OR Production instance of Nexus
#kg-proj: somatosensorycortex

# SLURM account to be used
account: proj96

# Destination folder on GPFS where files from local file system folder ./workflows/ will be synchronized
workflows-sync: /gpfs/bbp.cscs.ch/home/${USER}/bbp-workflow-workspace/workflows

[LookupSimulationCampaign]
# Nexus URL of simulation campaign
url: https://staging.nexus.ocp.bbp.epfl.ch/v1/resources/bbp_test/christoph/_/63613995-0cac-44e5-b952-1e651141c69f

[CampaignAnalysisLauncher]
# Empty list of analyses to run (the df creation still happens automagically)
list-of-analyses: []


# HOW TO RUN:
# bbp-workflow launch-bb5 --follow --config workflows/campaign2df_launcher.cfg campaign_analysis_launcher CampaignAnalysisLauncher
