# Description: BBP-WORKFLOW config to run simulation campaign analysis launcher
# Author: Christoph Pokorny
# Created: 28/06/2021

[DEFAULT]
# Knowledge Graph project where data persists
# Staging instance (sandbox project)
kg-base: https://staging.nexus.ocp.bbp.epfl.ch/v1
kg-org: bbp_test
kg-proj: christoph
# OR Production instance of Nexus
# kg-proj: somatosensorycortex

# SLURM account to be used
account: proj83

# Destination folder on GPFS where files from local file system folder ./workflows/ will be synchronized
workflows-sync: /gpfs/bbp.cscs.ch/home/${USER}/bbp-workflow-workspace/workflows

[LookupSimulationCampaign]
# Nexus URL of simulation campaign
url: https://staging.nexus.ocp.bbp.epfl.ch/v1/resources/bbp_test/christoph/_/51b2f531-8077-429d-acd4-1408a6a3ea2e
#28881c3c-605b-40e2-886f-dabf11809e9f

[CampaignAnalysisLauncher]
# List of analyses to run
list-of-analyses: [{"name": "my_analysis",
                    "repository": "git@bbpgitlab.epfl.ch:conn/simulation/sscx-analysis.git",
                    "script": "analysis_launcher/workflows/my_analysis.py",
                    "parameters": {"groupby": "layer", "t_start": 1500, "t_end": 3500},
                    "resources": {"mem": 0, "time": "1:00:00", "exclusive": "False"}}]


#
# HOW TO RUN:
# Specify simulation campaign URL from Nexus!
# Run analysis: bbp-workflow launch-bb5 --follow campaign_analysis_launcher CampaignAnalysisLauncher
#
