# Description: BBP-WORKFLOW config to run simulation campaign analysis launcher
# Author: Christoph Pokorny
# Created: 14/01/2022

[DEFAULT]
# Knowledge Graph project where data persists
# Staging instance (sandbox project)
# kg-base: https://staging.nexus.ocp.bbp.epfl.ch/v1
# kg-org: bbp_test
# kg-proj: christoph
# OR Production instance of Nexus
kg-proj: somatosensorycortex

# SLURM account to be used
account: proj83

# Destination folder on GPFS where files from local file system folder ./workflows/ will be synchronized
workflows-sync: /gpfs/bbp.cscs.ch/home/${USER}/bbp-workflow-workspace/workflows

[LookupSimulationCampaign]
# Nexus URL of simulation campaign
url: https://bbp.epfl.ch/nexus/v1/resources/bbp/somatosensorycortex/_/6f0a9a9b-842b-4874-8b16-6c6010c07ace

[CampaignAnalysisLauncher]
# List of analyses to run
list-of-analyses: [{"name": "psth_peak_stats",
                    "repository": "git@bbpgitlab.epfl.ch:conn/simulation/sscx-analysis.git",
                    "checkout_id": "master",
                    "script": "visual_contrast/psth_peak_stats.py",
                    "parameters": {"psth_name": "single_cell_psths",
                                   "pattern_idx": 1,
                                   "peak_th": 5.0,
                                   "peak_width": 20.0,
                                   "peak_distance": 200.0,
                                   "peak_range": [0.0, 1000.0],
                                   "do_plot": 1,
                                   "num_bins": [50, 25, 25]},
                    "resources": {"mem": 131072, "time": "1:00:00", "exclusive": "False"},
                    "condition_filter": {"sparsity": 1.0, "rate_bk": 0.2, "rate_max": 10.0}}]

#
# HOW TO RUN:
# Specify simulation campaign URL from Nexus!
# Run analysis: bbp-workflow launch-bb5 --follow --config ../visual_contrast/psth_peak_stats.cfg campaign_analysis_launcher CampaignAnalysisLauncher
# (To be launched from analysis_launcher root folder)
#
